<div class="form-wrapper">
  <mat-card class="form-card mat-elevation-z8">
    <mat-card-title>Modify Product</mat-card-title>
    <mat-divider></mat-divider>

    <form [formGroup]="productForm" (ngSubmit)="onSubmit()">
      <div class="form-group">

        <label>ID</label>
        <mat-form-field appearance="fill" class="full-width">
          <input matInput type="number" formControlName="id" [appHighlightOnFocus]="'pink'"  />
        </mat-form-field>

        <label>Name</label>
        <mat-form-field appearance="fill" class="full-width">
          <input matInput type="text" formControlName="name"   matTooltip="Enter the full name of the item. Should be descriptive and unique." />
        </mat-form-field>

        <label>Price</label>
        <mat-form-field appearance="fill" class="full-width">
          <input matInput type="number" formControlName="price" [appHighlightOnFocus]="'dodgerblue'"   matTooltip="Enter the price. Must be a positive whole number." />
        </mat-form-field>

        <label>Category</label>
        <mat-form-field appearance="fill" class="full-width">
          <input matInput type="text" formControlName="category"    matTooltip="Enter the categpry"/>
        </mat-form-field>

        <mat-checkbox formControlName="color" color="primary" [appHighlightOnFocus]="'orange'">
          Color Available
        </mat-checkbox>

        <label>Image URL</label>
        <mat-form-field appearance="fill" class="full-width">
          <input matInput type="text" formControlName="imageUrl" [appHighlightOnFocus]="'orange'"   matTooltip="Enter the image url"/>
        </mat-form-field>

      </div>

      <div class="button-group">
        <button mat-raised-button color="primary" type="submit">Submit</button>
        <button mat-stroked-button color="accent" type="button" (click)="navigateToProductList()">Back to List</button>
      </div>
    </form>
  </mat-card>
</div>
