<div>
  <h2>Electronics List</h2>
  <div *ngFor="let product of productList">
   <app-content-list-item [product]="product" ></app-content-list-item>
    <button [appHoverHighlight]="'lightblue'" (click)="onEdit(product.id)" >Edit</button>
    <button [appHoverHighlight]="'lightblue'" (click)="onDelete(product.id)">Delete</button>
  </div>
</div>


<div>
  <table>
    <thead>
    <tr>
      <th>ID</th>
      <th>Name</th>
      <th>Price</th>
      <th>Category</th>
      <th>Color Available</th>
    </tr>
    </thead>
    <tbody>

    <tr *ngFor = "let product of productList; let i = index"
        [ngClass]="{ 'even': i % 2 === 0, 'odd': i % 2 !== 0 }">
      <td>{{ product.id }}</td>
      <td [appHoverHighlight]="'yellow'">{{ product.name | uppercase}}</td>
      <td>{{ product.price | currency: 'CAD': "symbol-narrow"}}</td>
      <td>{{ product.category| titlecase }}</td>
      <td [appHoverHighlight]="'lightblue'" >{{ product.color ? 'Yes' : 'No' }}</td>


    </tr>
    </tbody>
  </table>
</div>
